@font-face {
    font-family: "Norse Bold";
    src: url(./design/Norse-Bold-Font.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./design/Green-Leaf-Plant-Close-Up.jpg);
    padding-top: 5rem;
    padding-bottom: 2rem;
    height: 100vh ;
}

.sbLogo {
    display: flex;
    background-color: #000000;
    opacity: 0.5;
    padding: 2em;
}

.logo > img {
    height: 8rem;
    opacity: 1;
}

.sbLogo > .lgText {
    color: #ffffff;
    font-size: 2rem;
    opacity: 1;
}

.sbFooter{
    color: #ffffff;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

.sidebar h1 {
    font-family: "Norse Bold", serif;
}