@font-face {
    font-family: "Norse Bold";
    src: url(./design/Norse-Bold-Font.otf);
}

:root {
    --main-height: calc(100vh / 3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    margin: 0;
    height: 100vh;
    width: clamp(715px, 100%, 1200px);
    background-color: #fff;
}

.sidebar {
    position: relative;
    width: 40%;
}

.sb-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.sbLogo,
.sbFooter {
    position: absolute;
    z-index: 2;
    width: 100%;
    color: white;
}

.sbLogo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0;
    top: 20%;
    font-size: 2rem;
}

.logo {
    height: 7rem;
}

.sbLogo > h1 {
    font-family: "Norse Bold";
}

.sbFooter {
    text-align: center;
    font-size: smaller;
    bottom: 1%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bigText,
.middleContent,
.bottomContent {
    height: var(--main-height);
    width: 100%;
    padding: 2rem
}

.bigText,
.bottomContent {
    background-color: whitesmoke;
}

.middleContent {
    box-shadow: 3px 13px 25px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}